{% extends 'store/메인.html'%}
{% load static %}
{% block content %}
<h3>제품명 : {{ product.name }}</h3>

          
<div class="card">
	<div class="row">
		<aside class="col-sm-5 border-right">
      <article class="gallery-wrap"> 
      <div class="img-big-wrap">
        <div> <a href="#"><img src="{{ product.imageURL }}" class="img-fluid"></a></div>
      </div>
  
      </article>
          </aside>
          <aside class="col-sm-7">
      <article class="card-body p-5">
        <h3 class="title mb-3">{{ product.name }}</h3>

      <p class="price-detail-wrap"> 
        <span class="price h3 text-warning"> 
          <span class="currency">$</span><span class="num">{{ product.price }}</span>
        </span> 
      
      </p> <!-- price-detail-wrap .// -->
      <dl class="item-property">
        <dt>제품설명</dt>
        <dd><p>{{ product.description }} </p></dd>
      </dl>
      
   
        
        <hr>
        <button data-product={{product.id}} data-action="add" class="btn btn-success 장바구니업데이트">장바구니 담기</button>


    <hr>
    {% for comment in product.comments.all %}
    <!-- #product.comments.all 에서 루핑// -->
    {% if user.is_authenticated or comment.approved_comment %}
    <div class="comment">
        <div class="date">
            {{ comment.created_date }}
              {% if comment.modify_date %}
              (수정:{{ comment.modify_date }})
              {% endif %}
              
            {% if not comment.approved_comment %}
                <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}">💩</a>
            {% endif %}
            
            

            {% if request.user == comment.author %}
            <a href="{% url 'comment_modify' pk=comment.pk  %}" class="small">수정</a>,
            <a href="{% url 'comment_remove' pk=comment.pk  %}" class="small">삭제</a>
            {% endif %}
        </div>
        <strong>(🐺 :{{ comment.author }})</strong>
        <p>✒️ :{{ comment.text|linebreaks }}</p>
    </div>
    {% endif %}
{% empty %}
    <p>앙직 댓글이 없어요~~</p>
{% endfor %}
{% if user.is_authenticated %}
                    
      <a class="btn btn-success" href="{% url 'add_comment' pk=product.pk %}">댓글추가</a>  

{% else %} 
<a href="{% url 'login' %}" class="btn btn-danger">로그인 후 댓글 달기</a>
{% endif %}

          </article> <!-- card-body.// -->
          </aside> <!-- col.// -->
        </div> <!-- row.// -->
      </div> <!-- card.// -->


      </div>
      <!--container.//-->
      </article>
        </div>


{% endblock content %}